@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto auto;
  box-sizing: border-box;
  font-family: "DM Sans", "Noto Sans", sans-serif;
  background: rgb(20, 33, 61);
  background: linear-gradient(180deg, rgba(159, 159, 159, 1) 0%, rgba(20, 33, 61, 1) 100%);
  min-height: 100vh;
  height: 100%;
  overflow: auto;
}

.calculator
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  height: 75%;
  min-height: 75vh;
  background-color: var(--primary);
  color: var(--secondary);
  margin: auto auto;
  border-radius: 3vw;
  border: 1px solid var(--secondary);
}

.screen
{
  border-radius: 0;
  border: none;
  background-color: var(--primary);
  text-align: right;
  padding-right: 1rem;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 3px;
  border-radius: 3vw;
  margin-top: 1rem;
  padding-top: 1rem;
}

td
{
  width: 50px;
  height: 50px;
  background-color: rgb(65, 65, 65);
  border: 5px solid var(--primary);
  border-radius: 50px;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 300;
  cursor: pointer;
}

.button:hover,
.greyButton:hover
{
  background-color: var(--background);
  color: var(--secondary);
  transition-duration: 0.55s;
}

.greyButton
{
  background-color: darkgrey;
  color: var(--primary);
}

.orangeButton
{
  background-color: var(--tertiary);
}

.orangeButton:hover
{
  background-color: var(--secondary);
  color: var(--tertiary);
  transition-duration: 0.55s;
}

.zeroButton
{
  text-align: left;
  padding: 0 1.5rem;
}

.linkButton
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 10%;
  border-radius: 4rem;
  text-decoration: none;
  color: var(--primary);
  cursor: pointer;
  background-color: var(--secondary);
  text-align: center;
  transition: 0.35s;
  margin: 1rem;
}

.linkButton:hover
{
  background-color: var(--tertiary);
  color: var(--secondary);
  transition-duration: 0.35s;
}

@media only screen and (min-width: 768px)
{
  .calculator
  {

    width: 80vw;
    height: fit-content;
    margin: 2rem;
    padding-bottom: 0;
  }

  td
  {
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }

  .linkButton
  {
    font-size: 2rem;
    width: 40%;
    margin: auto 0;
  }
}

@media only screen and (min-width: 1024px)
{
  body
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .calculator
  {
    display: flex;
    flex-grow: 1;
    width: fit-content;
    padding: 3rem;
    margin: 1rem;
  }

  td
  {
    width: 65px;
    height: 65px;
    border-radius: 65px;
  }

  .linkButton
  {
    display: flex;
    flex-shrink: 1;
    padding: 2 2rem;
    margin-right: 2rem;
    height: 65px;
  }
}